$base-color: #c6538c;
$aneta-darkgrey: #232323;
$aneta-green: #54be90;
$aneta-lightgrey: #ebebeb;
$aneta-textgrey: #444444;
$aneta-white: #ffffff;

*,
*:before,
*:after {
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-family: "Alegreya Sans";
    margin: auto;   
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

/*HEADER*/
.header__cont {
    background-color: $aneta-lightgrey;
    height: 120px;
}


.links {
    align-items: center;
    background: $aneta-darkgrey;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 50px;
    text-align: center;
    width: 100%;    
}

.white {
    color: $aneta-green;background-color: white;
    height: 50px;
   
}

.nav__green {
    background-color: $aneta-green;
    color: black;
    height: 50px;
}

/*INTRO*/
.intro {
    background-image: url(../img/intro_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $aneta-white;
    display: flex;
    flex-direction: column;
    height: 600px;
    margin: 0;
    padding: 50px 150px 150px;
    text-align: center;
    width: 100%;
    &__h1{
        font-size:70px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    &__h2{
        font-size: x-large;
        font-weight: 400;
    }
}

.subtitle {
    font-size: 55px;
    font-weight: 400; 
    margin-top: 10px;  
}

.green {
    color: $aneta-green ;
    text-decoration: underline;
    text-decoration-color: white;
}

/*PRODUCT*/
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0;

    &__top{
        padding: 35px 50px 30px;
        text-align: center;
    }

    &__top-text {
        align-self: center;
        font-size: 28px;
        margin-bottom: 0;
    }

    &__cards{
        background-color: $aneta-darkgrey;
        color: $aneta-white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;     
        padding: 60px 160px;
    }
}

.circles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0px 160px;    
    width: 100%;  
}

.one-circle {
    background-color: $aneta-white;
    border-radius: 50%;
    height: 130px;
    margin: 0px 0px -45px 0px;
    position: relative;
    width: 130px;   
}

.h3{
    color: $aneta-green;
    font-weight: bold;
}

.card {
    width: 162px;
    text-align: center;
}

/*SKILLS*/
.skills {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    text-align: center;
    width: 70%;
}

h2 {
    color: $aneta-green;
    font-size: 40px;
}

.title__port {
    margin: 0 auto;
    padding: 70px;
}

.beam {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-start;
    padding: 4px;
    width: 100%;
}

.black {
    align-items: center;
    background-color: $aneta-textgrey ;
    color: $aneta-white;
    display: flex;
    justify-content: center;
    padding: 2px;
    width: 20%;    
    & p {
        text-align: center;
    }
}
.grey__16, 
.grey__24, 
.grey__32, 
.grey__40 {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.green__64 {
    background-color: $aneta-green;
    width: 64%;
}
.grey__16 {
    background-color: $aneta-lightgrey;
    width: 16%;
}
.green__56 {
    background-color: $aneta-green;
    width: 56%;
}
.grey__24 {
    background-color: $aneta-lightgrey;
    width: 24%;
}
.green__48 {
    background-color: $aneta-green;
    width: 48%;
}
.grey__32 {
    background-color: $aneta-lightgrey;
    width: 32%;
}
.green__40 {
    background-color: $aneta-green;
    width: 40%;
}
.grey__40 {
    background-color: $aneta-lightgrey;
    width: 40%;
}

/*MY PORTFOLIO*/
.portfolio {
    background-color: $aneta-green;
    margin-top: 130px;
    padding-bottom: 130px;
    text-align: center;
    width: 100%; 
}

.portfolio h2{ 
    color: $aneta-white;
    margin: 0 auto;
    padding: 70px;     
}

.port__pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;    
    width: 90%;
}

.port__pic {
    background-color: $aneta-lightgrey;
    border: 7px solid $aneta-white;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px auto 0px;
    position: relative;
    text-align: center;
    width: 30%;        
}

img {
    width: 50%;
}

.port__pic-bottom {
    border-top: 3px solid $aneta-white;
    display: flex;
    flex-direction: column;
    height: 150px;
    padding-top: 20px;   
}

.black__border {
    border: 7px black solid;
}

.port__pic-bottom p {
    display: grid;
    height: 200px;
    margin: auto;
    width: 260px;
}

.tech {
    bottom: -3px;
    font-size: 18px;
    left: 15px;
    margin-bottom: 15px;
    position: absolute;  
}

.explore__btn {
    background-color: $aneta-green;
    border: none;
    border-radius: 3px;
    box-shadow: 0.5px 2px 2px 1px $aneta-darkgrey;
    color: white;
    height: 25px;
    margin: 15px auto;
    padding: 3px;
    width: 80%; 
}

/*ABOUT ME*/
.about {
    background-color: $aneta-lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px; 
}

.title__about {
    color: $aneta-darkgrey;
    margin: 0 auto;
    padding: 30px;
}

.about__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 90%; 
}

.image__cont {
    align-items: center;
    display: flex;
    justify-content: center;   
}

.about__image {
    border-radius: 50%;
    margin: 0px 70px;
    width: 300px; 
}

.text__cont {
    margin-left: 50px;
    width: 70%;
}

.text__cont p {
    width: 80%;
}

.underline {
    text-decoration: underline 5px $aneta-green;


}

.contact__btn {
    background-color: $aneta-green;
    border: none;
    border-radius: 3px;
    box-shadow: 0.5px 2px 2px 1px $aneta-darkgrey; 
    color: white;
    height: 25px;
    margin: 15px auto;
    padding: 3px;
    width: 25%;
}

/*FIND ME HERE*/
.social {
    align-items: center;
    background-color: $aneta-darkgrey;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.social__subtitle {
    color: $aneta-white;
    font-size: 1.5em;
    margin-top: 0;
    padding-top: 50px; 
}

.social__logo {
    display: flex;
    flex-direction: row;
}

.logo {
    background-color: white;
    margin: 10px 50px auto;
    width: 100px; 
}

.github,
.linkedin {
    border-radius: 50%;
}

.insta {
    border-radius: 25px;
}

/*CONTACT ME*/
.contact {
    align-items: center;
    background-color: $aneta-green;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 70px;
    width: 100%;
    &__title {
        color: $aneta-white;
        margin-top: 0;
        text-align: center;
    }
}

.form__cont {
    width: 800px;
}

form {
    display: flex;
    flex-direction: column;
}

.form__left_right {
    display: flex;
}

.form__right,
.form__left {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.form__left {
    padding-right: 10px;
}

.form__right {
    padding-left: 10px;
}

.form__left label,
.form__right label {
    border-bottom: 1px solid white;
    float: left;
    margin: 20px 0 40px;
    padding-right: 10px;
    width: 100%;    
}

label {
    color: white;
    width: 150px;
}

input {
    background: $aneta-green;
    border: none;
    outline: none;
    width: 150px;
}

::placeholder {
    color: white;
    font-family: "Alegreya Sans";
    font-size: 20px;
    font-weight: 100px;
}

textarea {
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    resize: none;
    width: 800px;    
}

.textarea label {
    font-family: "Alegreya Sans";
    font-size: 20px;
    font-weight: 100px;
}

.form__btn {
    background-color: $aneta-darkgrey;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 100px;
    margin-top: 20px;     
    width: 800px;
}

/*NICE TO MEET YOU*/

.footer__cont {
    background-color: $aneta-lightgrey;
    display: flex;
    flex-direction: column;
}

.lines {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 60px;
    width: 90%;
}

.meet__title {
    color: black;
    font-weight: 900;
}

.meet__title_cont {
    align-self: center;
    background-color: $aneta-green;
    height: 5px;
    margin: 0 10px;
    width: 380px;    
}

.footer__logo {
    width: 50px;
}

.symbols {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.symbol {
    margin: 0 15px;
}

.copy {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/*mobile phone*/
@media (max-width: 600px){
    /*HEADER*/
    .header__cont {
        height: 60px;
        width: 100%;
        font-size: 0.7em;
        align-items: center;
        justify-content: center;
    }
    .white,
    .nav__green {
        display: flex;
        justify-content: center; 
        align-items: center;      
    }

    /*INTRO*/
    .intro {
        background-size: cover;
        height: 300px;
        padding: 25px 75px 75px;
        &__h1 {
            font-size: 35px;
        }

    }
    .subtitle {
        font-size: 25px;
        font-weight: 200;
    }

    /*PRODUCT*/
    .product__top-text {
        font-size: 1em;
    }
    .circles {
        display: none;
    }

    /*SKILLS*/
    .skills {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    h2 {
        font-size: 30px;
        margin-top: 25px;
    }
    .product__cards {
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

    .black p {
        font-size: 0.5em;
    }

    /*MY PORTFOLIO*/
    .portfolio {
        margin: 50px 0 0 0;
        padding: 0 0 50px 0;
    }
    .port__pictures {
        flex-direction: column;
    }

    .port__pic {
        width: 80%;
        margin: auto;
    }

    /*ABOUT ME*/
    .about {
        padding: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__container {
        flex-direction: column;
    }

    .title__about {
        margin-top: 0px;
    }

    .text__cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        margin: 20px auto;
        width: 100%;
    }

    .text__cont p {
        align-self: center;
    }

    h3 {
        font-size: 1rem;
    }

    .about__image {
        width: 200px;
    }

    .contact__btn {
        width: 100px;
    }

    /*FIND ME HERE*/
    .logo {
        width: 50px;
        margin: 10px;
    }
    .social__logo {
        display: flex;
        justify-content: space-between;
        width: 200px;


    }

    /*CONTACT ME*/
    .form__cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
    }

    .form__btn {
        width: 200px;
        align-self: center;
    }

    .form__left_right {
        flex-direction: column;
    }
    
    .form__left, 
    .form__right {
        width: 300px;
        margin: auto;
        padding: 0;
        margin: 0;
    }

    textarea {
        width: 300px;
    }

    input {
        width: 100px;
    }

    /*NICE TO MEET YOU*/

    .meet__title {
        font-size: 1rem;
    
        
    }

    .meet__title_cont {
        width: 80px;
    }



    }





// /*mobile phone*/
// @media (max-width: 600px)

// /*big screen*/
// @media screen and (min-width: 1900px)