$aneta-green: #54be90;
$aneta-white: #ffffff;
$aneta-lightgrey: #ebebeb;
$aneta-textgrey: #444444;
$aneta-darkgrey: #232323;

$base-color: #c6538c;





html {
    box-sizing: border-box;
    font-family: "Alegreya Sans";
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    
}

.intro{
    display: flex;
    flex-direction: column;
    width: max;
    background-image: url(../img/intro_image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    color: $aneta-white;
    text-align: center;  
    padding: 150px;

    &__h1{
        font-size:xx-large;
        font-weight: 400;
    }

    &__h2{
        font-size: x-large;
        font-weight: 400;
    }
}

strong{
    color: $aneta-green ;
    text-decoration: underline;
    text-decoration-color: white;
    }

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;

&__top{
    padding: 35px 200px 30px;
    margin: -50px;
    text-align: center;
}

&__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $aneta-darkgrey;
    color: $aneta-white;
    padding: 60px 160px;
}}

.circles{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 160px;
    /*padding: 0px 20px;*/
}

.one-circle {
    position: relative;
    background-color: $aneta-white;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0px 0px -45px 0px;
}


.h3{
    color: $aneta-green;
    font-weight: bold;
}
.card1, 
.card2, 
.card3, 
.card4{
    width: 130px;
    // padding: 20px;
    // margin: 20px;
    text-align: center;
}

.skills{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: auto;

}

h2{
    color: $aneta-green;
    font-size: 25px;
}

.beam{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding: 4px;

}
.black {
    width: 20%;
    background-color: $aneta-textgrey ;
    color: $aneta-white;
    padding: 2px;
}

.green__64{
    background-color: $aneta-green;
    width: 64%;
}
.grey__16{
    background-color: $aneta-lightgrey;
    width: 16%;
}
.green__56{
    background-color: $aneta-green;
    width: 56%;
}
.grey__24{
    background-color: $aneta-lightgrey;
    width: 24%;
}
.green__48{
background-color: $aneta-green;
width: 48%;
}
.grey__32{
    background-color: $aneta-lightgrey;
    width: 32%;
}
.green__40{
    background-color: $aneta-green;
    width: 40%;
}
.grey__40{
    background-color: $aneta-lightgrey;
    width: 40%;
}


// .green{
//     background-color: $aneta-green;

//     &__php{
//         width: 48%S;
//     }
// }

// .grey{
//     background-color: $aneta-lightgrey;
//     color: $aneta-textgrey;
// }